@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
body {
  background-image: radial-gradient(#1F3756, #141539);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  border: 3px solid rgba(255, 255, 255, 0.289199);
  margin-top: 48px;
  border-radius: 15px;
  max-width: 700px !important;
}
header img {
  padding-top: 27.68px;
  padding-bottom: 29.64px;
  padding-left: 33.32px;
}
header .score-container {
  max-width: 150px;
  max-height: 114px;
  height: 114px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 24px;
  margin-left: auto;
  background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 8px;
  text-align: center;
  padding-top: 16px;
}
header .score-container h6 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 2.5px;
  color: #2A45C2;
  margin: auto;
}
header .score-container span {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #565468;
}

.start-game {
  background-image: url("images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin-top: 64px;
  max-width: 476px;
  height: 430px;
}
.start-game .row {
  justify-content: space-evenly;
  gap: 80px;
  position: relative;
}
.start-game .bottom-row {
  margin-top: 24px;
}
.start-game .col-before {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-width: 198px;
  max-height: 194px;
  height: 100%;
  opacity: 0;
  border-radius: 100%;
  border: solid 90px #fff;
  animation-name: wave-leave;
  animation-duration: 0.5s;
}
.start-game .paper-before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.start-game .scissors-before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.start-game .rock-before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.start-game .col {
  width: 198px;
  height: 194px;
  border-radius: 100%;
  position: relative;
  background-color: #fff;
}
.start-game .col img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
}
.start-game .scissors {
  border: solid 30px #EB9F0E;
  box-shadow: 0px 5px 0px 3px #C76C1B, inset 0px 6px 3px 1px #babfd4;
}
.start-game .scissors:hover {
  cursor: pointer;
}
.start-game .scissors:hover .scissors-before {
  animation-name: wave-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.start-game .rock {
  border: solid 30px #DB2E4D;
  box-shadow: 0px 5px 0px 3px #9D1634, inset 0px 6px 3px 1px #babfd4;
}
.start-game .rock:hover {
  cursor: pointer;
}
.start-game .rock:hover .rock-before {
  animation-name: wave-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.start-game .paper {
  border: solid 30px #4664F4;
  box-shadow: 0px 5px 0px 3px #2a45c2, inset 0px 6px 3px 1px #babfd4;
}
.start-game .paper:hover {
  cursor: pointer;
}
.start-game .paper:hover .paper-before {
  animation-name: wave-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes wave-hover {
  from {
    opacity: 0;
    border-width: 90px;
  }
  to {
    opacity: 0.1;
    border-width: 140px;
  }
}
@keyframes wave-leave {
  from {
    opacity: 0.1;
    border-width: 140px;
  }
  to {
    opacity: 0;
    border-width: 90px;
  }
}
.attribution {
  font-size: 14px;
  text-align: center;
  position: static;
  margin-top: 100px;
  color: #fff;
}

.attribution a {
  color: #9ccfec;
}

/*# sourceMappingURL=style.css.map */
